<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                        <i class="ni ni-check-bold"></i>
                                    </div>
                                    <h6 class="text-primary text-uppercase">普通版</h6>
                                    <p class="description mt-3">使用SpringCloud全家桶，封装需要的各种配置内容，极大简化了开发者的学习时间</p>
                                    <div>
                                        <span class="badge badge-pill badge-primary">SpringCloud</span>
                                        <span class="badge badge-pill badge-primary">SpringBoot</span>
                                        <span class="badge badge-pill badge-primary">IDA</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                        <i class="ni ni-istanbul"></i>
                                    </div>
                                    <h6 class="text-success text-uppercase">完善的后台管理体系</h6>
                                    <p class="description mt-3">完善的后台管理界面，所见即所得的获取管理框架的所有内容.</p>
                                    <div>
                                        <span class="badge badge-pill badge-success">SpringAdmin</span>
                                        <span class="badge badge-pill badge-success">Angular7</span>
                                        <span class="badge badge-pill badge-success">SCSS</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                                        <i class="ni ni-planet"></i>
                                    </div>
                                    <h6 class="text-warning text-uppercase">完善的文档内容</h6>
                                    <p class="description mt-3">整理了所有项目相关的文档内容，帮助开发和使用者快速理解</p>
                                    <div>
                                        <span class="badge badge-pill badge-warning">权限文档</span>
                                        <span class="badge badge-pill badge-warning">运维文档</span>
                                        <span class="badge badge-pill badge-warning">部署文档</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
