<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">HCloud框架
                <span>致力于将SpringCloud的微服务框架化</span>
              </h1>
              <p class="lead  text-white">将SpringCloud为核心进行搭建脚手架框架，帮助开发者进行快速的开发微服，免去对微服务相关模块的了解和开发</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">SpringCloud全家桶</h6>
                  <p class="description mt-3">使用SpringCloud全家桶，封装需要的各种配置内容，极大简化了开发者的学习时间</p>
                  <div>
                    <span class="badge badge-pill badge-primary">SpringCloud</span>
                    <span class="badge badge-pill badge-primary">SpringBoot</span>
                    <span class="badge badge-pill badge-primary">IDA</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">完善的后台管理体系</h6>
                  <p class="description mt-3">完善的后台管理界面，所见即所得的获取管理框架的所有内容.</p>
                  <div>
                    <span class="badge badge-pill badge-success">SpringAdmin</span>
                    <span class="badge badge-pill badge-success">Angular7</span>
                    <span class="badge badge-pill badge-success">SCSS</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">完善的文档内容</h6>
                  <p class="description mt-3">整理了所有项目相关的文档内容，帮助开发和使用者快速理解</p>
                  <div>
                    <span class="badge badge-pill badge-warning">权限文档</span>
                    <span class="badge badge-pill badge-warning">运维文档</span>
                    <span class="badge badge-pill badge-warning">部署文档</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>框架特性</h3>
            <p>框架致力于极大化的简化开发对微服务的使用，简化对SpringCloud的使用</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">快捷部署</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">快速集成</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">完善文档</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">HCloud System</h4>
              <p class="lead text-italic text-white">致力于极简话的微服务开发.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>服务方向</h3>
            <p class="lead">SpringCloud的相关技术咨询问题</p>
            <p>框架部署使用</p>
            <p>帮助个人提升技术实力</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">极简使用法则</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">高效办公</h4>
              <p class="text-white">HCloud在简化微服务的使用，帮助客户可以更加高效的进行办公和极简话开发.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">技术支持</h5>
                  <p>提供详细的项目文档内容，帮助您快速接入和使用.</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">技术内容</h5>
                  <p>SpringCloud、SpringBoot、Angular7、Bootstrap、Scss ...</p>
                  <a href="javascript:void(0)" class="text-warning">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">出色的团队</h2>
          <p class="lead text-muted">怀揣着梦想的团队人员</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">候帅</span>
                <small class="h6 text-muted">全栈开发</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-2-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">赵志欢</span>
                <small class="h6 text-muted">产品和嵌入式开发</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-3-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">李杨</span>
                <small class="h6 text-muted">Java后台开发</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">李宝龙</span>
                <small class="h6 text-muted">Java后台开发</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">We made micro service building easier for you.</h3>
              <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-lg btn-block btn-white">了解更多</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">站在SpringCloud最前沿</h2>
          <p class="lead text-white">使用SpringCloud最前沿的技术.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Gradle管理项目</h5>
          <p class="text-white mt-3">抛弃Maven管理项目，使用更加便捷的Gradle进行管理项目.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Kotlin语言</h5>
          <p class="text-white mt-3">使用Kotlin更加简化的语言，完美兼容java.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Docker和K8s</h5>
          <p class="text-white mt-3">容器化管理 方便进行部署.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">想要加入我们？</h4>
              <p class="mt-0">你的意向对我们很重要.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="您的姓名" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="邮箱地址" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">发送消息</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">你喜欢HCloud这个超棒的框架吗？
            <span class="text-success">为了简化SpringCloud而生的脚手架</span>
          </h2>
          <p class="lead">很希望HCloud可以帮助你快速的上手并进行微服务的相关开发，并能从HCloud掌握相关的微服务知识</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">购买</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">需要掌握的知识</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://getbootstrap.com/" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://angular.io/" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://spring.io/projects/spring-cloud" target="_blank" placement="top" ngbTooltip="SpringCloud - Micro service framework">
                  <img src="./assets/img/icons/common/spring.svg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://gradle.org/" target="_blank" placement="top" ngbTooltip="[Coming Soon] Gradle - Build Tool">
                  <img src="./assets/img/icons/common/gradle.svg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://kotlinlang.org/" target="_blank" placement="top" ngbTooltip="[Coming Soon] Kotlin - replace java">
                  <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1738467226,1704448819&fm=58&bpow=152&bpoh=151" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
