<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>注册</small>
                            </div>
                            <div class="text-center">
                                <a [routerLink]="['./account']" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <!--<img src="./assets/img/icons/common/qq.svg">-->
                  </span>
                                    <span class="btn-inner--text">账号注册</span>
                                </a>
                                <a [routerLink]="['./phone']" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <!--<img src="./assets/img/icons/common/wechat.svg">-->
                  </span>
                                    <span class="btn-inner--text">手机号注册</span>
                                </a>
                            </div>
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
