<div class="card-body px-lg-5 py-lg-5">
    <div class="text-center text-muted mb-4">
        <small>账号注册</small>
    </div>
    <form role="form">
        <div class="form-group" [ngClass]="{'focused':focus===true}">
            <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input name="username" [(ngModel)]="registerUserInfo.username" class="form-control" placeholder="姓名"
                       type="text"
                       (focus)="focus=true" (blur)="focus=false">
            </div>
        </div>
        <div class="form-inline" [ngClass]="{'focused':focus1===true}">
            <div class="input-group input-group-alternative col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-image"></i></span>
                </div>
                <input name="code" [(ngModel)]="registerUserInfo.code" class="form-control" placeholder="验证码"
                       type="text" (focus)="focus1=true" (blur)="focus1=false">
            </div>
            <img src="{{picCapture}}" class="col-md-4" (click)="refreshCapture()">
            <button type="button" class="btn btn-primary offset-md-1 col-md-auto"></button>
        </div>
        <div class="form-group" style="margin-top: 10px" [ngClass]="{'focused':focus2===true}">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input name="password" [(ngModel)]="registerUserInfo.password" class="form-control" placeholder="密码"
                       type="password"
                       (focus)="focus2=true"
                       (blur)="focus2=false">
            </div>
        </div>
        <div class="text-muted font-italic">
            <small>密码强度:
                <span class="text-success font-weight-700">strong</span>
            </small>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                    <label class="custom-control-label" for="customCheckRegister">
                        <span>我同意
                          <a href="javascript:void(0)">使用协议</a>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" (click)="registerByPassword()" class="btn btn-primary mt-4">创建账号</button>
        </div>
    </form>
</div>
